.scaffold {
  display: grid;
  margin: 77px auto;
  width: 1500px;
  height: 700px;
  grid-template: repeat(9, 1fr) / repeat(15, 1fr);
  border-radius: 50%;
  background-image: url("./Images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-color: rgb(175,238,238);
  width: 100%;
  margin-left: 0px;

}

header {
  font-family: 'Bangers', cursive;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 140px;
  margin: 0px;
  margin-bottom: 20px;
  display: grid;
  width: 100%;
  height: 140px;
  max-height: 160px;
  grid-gap: 30px;
}

.headline {
  display: none;
  grid-area: 1 / 3 / span 1 / span 2;
  text-align: center;
}

h1 {
  font-size: 50px;
  border-style: dotted;
  border-radius: 15px;
  border-color: red;
  padding: 10px;
  margin: 5px auto;
}

h2 {
  border-style: dotted;
  border-radius: 15px;
  border-color: blue;
  margin: 0 auto;
}

.resetButton {
  font-family: 'Bangers', cursive;
  background-color: orange;
  border-radius: 15px;
  padding: 10px 0px;
  height: 65px;
  width: 200px;
  font-size: 25px;
}

.message {
  font-family: 'Spicy Rice', cursive;
  font-size: 33px;
  text-transform: uppercase;
  text-shadow: 2px 2px #ff0000;
  position: absolute;
  top: 180%;
  left: 650%;
  width: 400px;
}



/* .topLeftAnswer {
  grid-area: 2 / 1 / span 3 / span 5;
  margin: auto;
  z-index: 5;
}

.topRightAnswer {
  grid-area: 2 / 11 / span 3 / span 5;
  margin: auto;
  z-index: 5;
} */

.eightballer {
  height: 500px;
  width: 500px;
  z-index: 5;
  display: none;
  /* position: absolute;
  top: 27%;
  right: 37%; */
}

.eightBall {
  grid-area: 2 / 6 / span 1 / span 1;
  height: 30px;
  width: 30px;
}

/* .banner {
  height: 300px;
  width: 500px;
} */

.leftBolt {
  grid-area: 1 / 4 / span 1 / span 1;
  height: 30px;
  width: 30px;
  display: none;
}


#lightningbolt-flipped {
  height: 467px;
  width: 300px;
  z-index: 0;
}

.rightBolt {
  grid-area: 1 / 10 / span 1 / span 1;
  height: 30px;
  width: 30px;
  display: none;
}

#lightningbolt {
  height: 467px;
  width: 300px;
  z-index: 0;
}

/* Had to cheat a little here to get around the awkward dimensions/shapes of the images */
/* .banner2 {
  height: 300px;
  width: 530px;
}

.bottomLeftAnswer {
  grid-area: 6 / 1 / span 3 / span 5;
  margin: auto;
  z-index: 5;
}

.bottomRightAnswer {
  grid-area: 6 / 11 / span 3 / span 5;
  margin: auto;
  z-index: 5;
} */

.centreBanner {
  grid-area: 6 / 4 / span 1 / span 1;
  height: 30px;
  width: 30px;
  margin: auto;
  z-index: 5;
  position: relative;
  text-align: center;
  left: 20%;
}



.acknowledgements {
  grid-area: 1 / 1 / span 1 / span 2;
  text-align: left;
  border: 1px groove black;
  font-size: 15px;
  border-radius: 15px;
  font-family: 'Spicy Rice', cursive;
  padding: 8px;
  background-color: silver;
  margin-left: 5px;
  font-style: italic;
  overflow: hidden;
}
